<?xml version='1.0' encoding='UTF-8' ?>
<component>
   <id>com_realisation</id>
   <nom>Gestion des realisations</nom>
   <class>realisation</class>
   <table>realisation</table>
   <traduction>0</traduction>
   <url>0</url>
   <icon>star</icon>
   <system>0</system>
   <position>side</position>
</component>
